.container {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.noteContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.noteDivs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    height: 300px;
    padding: 1rem;
    background-color: #111;
    border-radius: 0.75rem;
    overflow: auto;
}

.noteDivs h1 {
    text-align: center;
}

.delBtn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: auto;
    cursor: pointer;
    font-weight: bold;
}

.delBtn:hover {
    background-color: #fff;
    color: #000;
}
